<!DOCTYPE html>
<html>
<head>
	<title>Factory-API</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body> 
  <main>
    <h1>Welcome to Factory-API</h1>
    <div class="container">
      <a href="https://documenter.getpostman.com/view/23374730/2s8YY9v6YQ" target="_blank">>> Documentation</a>
      <a href="https://github.com/mrcsporto/factory-api-v1" target="_blank">>> Github</a>
    </div>
    <footer>
      <p>Developed by<a href="https://github.com/mrcsporto">Marcos Porto</a></p>
    </footer>
  </main>
</body>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #292727;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding-top: 3rem;
    letter-spacing: 5px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: 1rem;
  }
  a:hover {
    color:lightcoral;
  }
  .container {
    background-color: rgba(33, 33, 33, 0.95);
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
  }
  footer {
    background-color: rgba(33, 33, 33, 0.95);
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
  }

  footer a {
      font-size: 1rem;
      font-weight: bold;
  }

  footer p {
      padding: 2rem;
      color: #fff;
      font-size: 0.75rem;
  }
</style>
</html>